<nav>
	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
		<a href="/" class="d-flex align-items-center mb-3 text-white text-decoration-none">
			<img src="/assets/images/logo.png" width="120" height="40">
		</a>
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a class="text-white text-decoration-none" href="/students">Students</a>
			</li>
		</ul>
    </div>
</nav>